<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.luisramos.ler.test">

    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="app.luisramos.ler">
        <meta-data
            android:name="listener"
            android:value="app.luisramos.ler.test.RadiographyRunListener" />
    </instrumentation>
</manifest>