*.iml
.gradle
/local.properties
.kotlin/
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
/app/release
google-services.json
keystore.properties
fastlane/README.md
fastlane/report.xml
.bundle/
bin/
